In [3]:
import pandas as pd
from pandasgui import show
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# get the data at global level
confirmed_cases_raw = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
death_raw = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
recover_raw = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')

In [5]:
show(confirmed_cases_raw)

In [6]:
show(death_raw)

In [7]:
show(recover_raw)

In [8]:
confirmed_cases_raw.head(5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/18/20,12/19/20,12/20/20,12/21/20,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,49621,49681,49817,50013,50190,50433,50655,50810,50886,51039
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,52004,52542,53003,53425,53814,54317,54827,55380,55755,56254
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,94371,94781,95203,95659,96069,96549,97007,97441,97857,98249
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,7519,7560,7577,7602,7633,7669,7699,7756,7806,7821
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,16562,16626,16644,16686,16802,16931,17029,17099,17149,17240